<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.Department">
            <id property="departmentNo" column="department_no" jdbcType="INTEGER"/>
            <result property="departmentName" column="department_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        department_no,department_name
    </sql>
    <select id="queryAll" resultType="com.zhongshan.entity.Department">
        select
        <include refid="Base_Column_List"/>
        from department where state=0
    </select>
    <select id="queryById" resultType="com.zhongshan.entity.Department">
        select
        <include refid="Base_Column_List"/>
        from department where department_name like concat('%',#{departmentName},'%') and state=0

    </select>
</mapper>
