<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.OperationMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.Operation">
            <id property="operationNum" column="operation_num" jdbcType="CHAR"/>
            <result property="operationTimes" column="operation_times" jdbcType="INTEGER"/>
            <result property="operationDate" column="operation_date" jdbcType="TIMESTAMP"/>
            <result property="operationName" column="operation_name" jdbcType="CHAR"/>
            <result property="operationCode" column="operation_code" jdbcType="CHAR"/>
            <result property="operationHocus" column="operation_hocus" jdbcType="CHAR"/>
            <result property="operationCut" column="operation_cut" jdbcType="CHAR"/>
            <result property="operationDoctorName" column="operation_doctor_name" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
       o_id, operation_num,operation_times,operation_date,
        operation_name,operation_code,operation_hocus,
        operation_cut,operation_doctor_name
    </sql>
    <select id="findAll" resultType="com.zhongshan.entity.Operation">
        select
        <include refid="Base_Column_List"/>
        from operation
        where state=0
        order by operation_date desc
    </select>
    <select id="findById" parameterType="com.zhongshan.entity.vo.OperationVo" resultType="com.zhongshan.entity.Operation">
        select
        <include refid="Base_Column_List"/>
        from operation
        <where>
            <if test="operationNum!=null">
              and  operation_num=#{operationNum}
            </if>
            <if test="operationTimes!=null">
                and operation_times =#{operationTimes}
            </if>
            <if test="startDate!=null">
                and  operation_date >= #{startDate}
            </if>
            <if test="endDate!=null">
                and operation_date &lt;#{endDate}
            </if>
            <if test="operationName!=null">
                and  operation_name like concat('%',#{operationName},'%')
            </if>
            <if test="operationCode!=null">
                and  operation_code =#{operationCode}
            </if>
            <if test="operationHocus!=null">
                and operation_hocus =#{operationHocus}
            </if>
            <if test="operationCut!=null">
                and operation_cut =#{operationCut}
            </if>
            <if test="operationDoctorName!=null">
                and operation_doctor_name =#{operationDoctorName}
            </if>
        </where>
        order by operation_date desc
    </select>
</mapper>
