<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.personBase_mapper.PersonBaseMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.PersonBase">
            <id property="sectionNo" column="section_no" jdbcType="CHAR"/>
            <result property="personNo" column="person_no" jdbcType="CHAR"/>
            <result property="spellNo" column="spell_no" jdbcType="CHAR"/>
            <result property="personName" column="person_name" jdbcType="CHAR"/>
            <result property="anotherNo" column="another_no" jdbcType="CHAR"/>
            <result property="personSex" column="person_sex" jdbcType="CHAR"/>
            <result property="birthDate" column="birth_date" jdbcType="TIMESTAMP"/>
            <result property="capacityNo" column="capacity_no" jdbcType="CHAR"/>
            <result property="marry" column="marry" jdbcType="CHAR"/>
            <result property="nativePlace" column="native_place" jdbcType="CHAR"/>
            <result property="nation" column="nation" jdbcType="CHAR"/>
            <result property="birthPlace" column="birth_place" jdbcType="CHAR"/>
            <result property="finishDate" column="finish_date" jdbcType="CHAR"/>
            <result property="finishSchool" column="finish_school" jdbcType="CHAR"/>
            <result property="familyAddres" column="family_addres" jdbcType="CHAR"/>
            <result property="degree" column="degree" jdbcType="CHAR"/>
            <result property="degreeDate" column="degree_date" jdbcType="CHAR"/>
            <result property="highSchooling" column="high_schooling" jdbcType="CHAR"/>
            <result property="schoolName" column="school_name" jdbcType="CHAR"/>
            <result property="postNo" column="post_no" jdbcType="CHAR"/>
            <result property="titleNo" column="title_no" jdbcType="CHAR"/>
            <result property="postDate" column="post_date" jdbcType="CHAR"/>
            <result property="postWage" column="post_wage" jdbcType="DOUBLE"/>
            <result property="health" column="health" jdbcType="CHAR"/>
            <result property="inParty" column="in_party" jdbcType="CHAR"/>
            <result property="portyDate" column="porty_date" jdbcType="CHAR"/>
            <result property="inWorkDate" column="in_work_date" jdbcType="CHAR"/>
            <result property="inZsuDate" column="in_zsu_date" jdbcType="CHAR"/>
            <result property="specialityDate" column="speciality_date" jdbcType="CHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        pb section_no,pb person_no,pb spell_no,pb person_name,pb another_no,pb person_sex,pb birth_date,pb capacity_no,
        pb marry,pb native_place,pb nation,pb birth_place,
        pb finish_date,pb finish_school,pb family_addres,
        pb degree,pb degree_date,pb high_schooling,
        pb school_name,pb post_no,pb title_no,
        pb post_date,pb post_wage,pb health,
        pb in_party,pb porty_date,pb in_work_date,
        pb in_zsu_date,pb speciality_date,pb remarks,
        ph history_from,ph history_to,
        ph work_place,
        fm member_name,fm member_sex,
        fm member_birth_date,fm member_party,fm member_work_unit,
        fm relation
    </sql>
    <select id="findByIdName" resultType="com.zhongshan.entity.vo.PersonInfo">
        select
        <include refid="Base_Column_List"/>
        from person_base pb,person_history ph,family_member fm
        <where>
            <if test="pb.personNo!=null">
                and person_base like #{personNo}
            </if>
            <if test="pb.personName!=null">
                and person_base like #{personName}
            </if>
        </where>
        order by empCreateTime desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>

    </select>

    <select id="query" resultType="java.lang.String">
        select title_no
        from person_base
        where person_no=#{personName}
    </select>

</mapper>
