<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.PublicExpenseMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.PublicExpense">
            <id property="personNo" column="person_no" jdbcType="CHAR"/>
            <result property="beginDate" column="begin_date" jdbcType="TIMESTAMP"/>
            <result property="endDate" column="end_date" jdbcType="TIMESTAMP"/>
            <result property="inDays" column="in_days" jdbcType="INTEGER"/>
            <result property="chargeForMedicine" column="charge_for_medicine" jdbcType="DOUBLE"/>
            <result property="chargeForCheck" column="charge_for_check" jdbcType="DOUBLE"/>
            <result property="chargeForBed" column="charge_for_bed" jdbcType="DOUBLE"/>
            <result property="otherCharge" column="Other_charge" jdbcType="DOUBLE"/>
            <result property="levelNo" column="Level_no" jdbcType="CHAR"/>
            <result property="symptomNo" column="Symptom_no" jdbcType="CHAR"/>
            <result property="orgaTotal" column="orga_total" jdbcType="DOUBLE"/>
            <result property="personTotal" column="person_total" jdbcType="DOUBLE"/>
            <result property="submitDate" column="submit_date" jdbcType="TIMESTAMP"/>
            <result property="remarks" column="remarks" jdbcType="CHAR"/>
            <result property="sequenceNo" column="sequence_no" jdbcType="INTEGER"/>
            <result property="chargeStandard" column="charge_standard" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        person_no,begin_date,end_date,person_name,
        in_days,charge_for_medicine,charge_for_check,
        charge_for_bed,Other_charge,Level_no,
        Symptom_no,orga_total,person_total,
        submit_date,remarks,sequence_no,
        charge_standard
    </sql>
    <select id="findByDate" resultType="com.zhongshan.entity.PublicExpense">
        select
        <include refid="Base_Column_List"/>
        from public_expense
        where begin_date > #{beginDate}
    </select>
</mapper>
