<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.inpatient.SubjectMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.Subject">
            <id property="subjectNo" column="subject_no" jdbcType="INTEGER"/>
            <result property="subjectName" column="subject_name" jdbcType="VARCHAR"/>
            <result property="registerMoney" column="register_money" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        subject_no,subject_name,register_money
    </sql>
</mapper>
