<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.Uh03OnStoreCMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.Uh03OnStoreC">
            <id property="mediNo" column="medi_no" jdbcType="VARCHAR"/>
            <result property="specification" column="specification" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="unitPrice" column="unit_price" jdbcType="DOUBLE"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        mediNo,specification,unit,
        unitPrice,quantity,state
    </sql>
    <insert id="insertaa" parameterType="com.zhongshan.entity.Uh03OnStoreC"
            keyProperty="mediNo" useGeneratedKeys="true" keyColumn="mediNo">
insert into uh03_on_store_c(specification,unit,unit_price,quantity,medi_no)
value(#{specification},#{unit},#{unitPrice},#{quantity},#{mediNo})
    </insert>

    <update id="updateBybyno" parameterType="com.zhongshan.entity.Uh03OnStoreC">
         update uh03_on_store_c set quantity=#{quantity}+quantity where medi_no=#{mediNo};
    </update>
    <update id="updateBybyOutno" parameterType="com.zhongshan.entity.Uh03OnStoreC">
        update uh03_on_store_c set quantity=quantity-#{quantity} where medi_no=#{mediNo};
    </update>
    <select id="queryZ"  resultMap="com.zhongshan.mapper.Uh03OnStoreCMapper.BaseResultMap">
     select uh_id, specification,unit,unit_price,quantity,medi_no
from uh03_on_store_c
where
medi_no like 'Z%'
and state=0 ORDER BY quantity asc
    </select>
    <select id="queryH" resultMap="com.zhongshan.mapper.Uh03OnStoreCMapper.BaseResultMap" >
     select uh_id, specification,unit,unit_price,quantity,medi_no
from uh03_on_store_c
where
medi_no like 'H%'
and state=0 ORDER BY quantity asc
    </select>
    <select id="queryAll" resultType="com.zhongshan.entity.Uh03OnStoreC">
        select uh_id,
        specification,unit,unit_price,quantity,medi_no
from uh03_on_store_c where state=0 ORDER BY quantity asc
    </select>
    <select id="queryMN" resultType="com.zhongshan.entity.Uh03OnStoreC">
        select medi_no,quantity
        from uh03_on_store_c
        ORDER BY quantity asc
    </select>
    <select id="findallList" resultType="com.zhongshan.entity.Uh03OnStoreC">
        SELECT uo.medi_no, uo.quantity,uo.unit_price,uo.unit,uo.specification
        FROM uh03_on_store_c uo
        INNER JOIN uh03_price_c_dbf uf
        on uo.medi_no=uf.medi_no
        where uo.quantity &lt; uf.store_limit
        ORDER BY uo.quantity asc
    </select>
    <select id="selectByCount" parameterType="com.zhongshan.entity.Uh03OnStoreC" resultType="com.zhongshan.entity.Uh03OnStoreC">
         select
        specification,unit,unit_price,quantity,medi_no
        from uh03_on_store_c
        where quantity &lt; #{quantity} and medi_no=#{mediNo}
    </select>
    <select id="findSpe" resultType="string">
     select specification
     from uh03_on_store_c
     where medi_no=#{mediNo}

    </select>
    <select id="findUnit" resultType="string">
         select unit
     from uh03_on_store_c
     where medi_no=#{mediNo}
    </select>
    <select id="findSum" resultType="integer">
        select sum(quantity)
        from uh03_on_store_c
    </select>
</mapper>
