<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.Uh03StoreOutCMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.Uh03StoreOutC">
            <id property="outNo" column="out_no" jdbcType="INTEGER"/>
            <id property="mediNo" column="medi_no" jdbcType="VARCHAR"/>
            <result property="specification" column="specification" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="unitPrice" column="unit_price" jdbcType="DOUBLE"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="outDate" column="out_date" jdbcType="TIMESTAMP"/>
            <result property="department" column="department" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        out_no,medi_no,specification,
        unit,unit_price,quantity,
        out_date,department
    </sql>
    <select id="query" resultType="com.zhongshan.entity.Uh03StoreOutC">
        select
        <include refid="Base_Column_List"/>
        from uh03_store_out_c
        ORDER BY out_date desc
    </select>
    <select id="findById" parameterType="com.zhongshan.entity.vo.Uh03StoreOutVo" resultType="com.zhongshan.entity.Uh03StoreOutC">
        select
        <include refid="Base_Column_List"/>
        from uh03_store_out_c
        <where>
            <if test="startDate!=null">
                and out_date &gt;= #{startDate}
            </if>
            <if test="endDate!=null">
                and out_date &lt;#{endDate}
            </if>
            <if test="mediNo!=null">
                and medi_no like concat('%',#{mediNo},'%')
            </if>
        </where>
        ORDER BY out_date desc
    </select>
</mapper>
