<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.Uh03StoreWMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.Uh03StoreW">
            <id property="mediNo" column="medi _no" jdbcType="VARCHAR"/>
            <result property="specification" column="specification" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        medi_no,specification,unit,
        quantity
    </sql>
    <update id="updateBybyno" parameterType="int">
        update uh03_store_w set quantity=#{quantity}+quantity where=#{medi_on};
    </update>
</mapper>
