<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.Uh04CrueInfoExpenseMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.inpatient.Uh04CrueInfoExpense">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="patientNo" column="patient_no" jdbcType="CHAR"/>
            <result property="recipeDate" column="recipe_date" jdbcType="TIMESTAMP"/>
            <result property="sectionCode" column="section_code" jdbcType="CHAR"/>
            <result property="cureType" column="cure_type" jdbcType="CHAR"/>
            <result property="medicineCode" column="medicine_code" jdbcType="CHAR"/>
            <result property="medicineName" column="medicine_name" jdbcType="VARCHAR"/>
            <result property="unitPrice" column="unit_price" jdbcType="DOUBLE"/>
            <result property="exponse" column="exponse" jdbcType="DOUBLE"/>
            <result property="quality" column="quality" jdbcType="CHAR"/>
            <result property="yCode" column="y_code" jdbcType="CHAR"/>
            <result property="hCode" column="h_code" jdbcType="CHAR"/>
            <result property="writeAccountFlag" column="write_account_flag" jdbcType="BIT"/>
            <result property="outFlag" column="out_flag" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,patient_no,recipe_date,
        section_code,cure_type,medicine_code,
        medicine_name,unit_price,exponse,
        quality,y_code,h_code,
        write_account_flag,out_flag
    </sql>
</mapper>
