<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.Uh04CrueInfoExpenseMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.inpatient.Uh04CrueInfoExpense">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="patientNo" column="patient_no" jdbcType="CHAR"/>
            <result property="recipeDate" column="recipe_date" jdbcType="TIMESTAMP"/>
            <result property="sectionCode" column="section_code" jdbcType="CHAR"/>
            <result property="cureType" column="cure_type" jdbcType="CHAR"/>
            <result property="medicineCode" column="medicine_code" jdbcType="CHAR"/>
            <result property="medicineName" column="medicine_name" jdbcType="VARCHAR"/>
            <result property="unitPrice" column="unit_price" jdbcType="DOUBLE"/>
            <result property="exponse" column="exponse" jdbcType="DOUBLE"/>
            <result property="quality" column="quality" jdbcType="CHAR"/>
            <result property="yCode" column="y_code" jdbcType="CHAR"/>
            <result property="hsCode" column="h_code" jdbcType="CHAR"/>
            <result property="writeAccountFlag" column="write_account_flag" jdbcType="BIT"/>
            <result property="outFlag" column="out_flag" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,patient_no,recipe_date,
        section_code,cure_type,medicine_code,
        medicine_name,unit_price,exponse,
        quality,y_code,hs_code,
        write_account_flag,out_flag
    </sql>
    <select id="selectByDate" resultType="com.zhongshan.entity.vo.Income">
        SELECT s.subject_name,sum(c.exponse) exponse FROM subject s
            LEFT JOIN uh04_crue_info_expense c on c.cure_type=s.subject_name
        <where>
            <if test="month != null">
                month(c.recipe_date) = #{month}
            </if>
            <if test="year != null">
                and YEAR(c.recipe_date) = #{year}
            </if>
        </where>
        GROUP BY s.subject_name;
    </select>
    <select id="queryCrueInfo" resultType="com.zhongshan.entity.inpatient.Uh04CrueInfoExpense">
        SELECT <include refid="Base_Column_List"></include> FROM uh04_crue_info_expense
        WHERE patient_no = #{patientNo} AND recipe_date &gt;= #{inDate} and recipe_date &lt;= #{outDate} AND out_flag =1
    </select>
</mapper>
