<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongshan.mapper.Uh08OnDutyMapper">

    <resultMap id="BaseResultMap" type="com.zhongshan.entity.Uh08OnDuty">
            <id property="staffNo" column="staff_no" jdbcType="CHAR"/>
            <result property="department" column="department" jdbcType="CHAR"/>
            <result property="workDate" column="work_date" jdbcType="TIMESTAMP"/>
            <result property="branchOfWork" column="branch_of_work" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        staff_no,department,work_date,
        branch_of_work
    </sql>
    <select id="workloadMonth" resultType="com.zhongshan.entity.vo.MonthVo">
        select SUM(d.ex_work_amount) ex,SUM(d.aver_work_amount) average,SUM(d.work_amount) work,
        d.department department,s.person_name name from uh08_on_duty d LEFT JOIN person_base s ON d.staff_no=s.person_no
        <where>
            <if test="month != null">
                month(d.work_date) = #{month}
            </if>
            <if test="year != null">
                and YEAR(d.work_date) = #{year}
            </if>
        </where>
        GROUP BY d.staff_no;
    </select>
    <select id="workloadYear" resultType="com.zhongshan.entity.vo.MonthVo">
        select SUM(d.ex_work_amount) ex,SUM(d.aver_work_amount) average,SUM(d.work_amount) work,
        d.department department,s.person_name name from uh08_on_duty d LEFT JOIN person_base s ON d.staff_no=s.person_no
        <where>
            <if test="year != null">
                and YEAR(d.work_date) = #{year}
            </if>
        </where>
        GROUP BY d.staff_no;
    </select>
    <select id="workloadDaily" resultType="com.zhongshan.entity.vo.MonthVo">
        select SUM(d.ex_work_amount) ex,SUM(d.aver_work_amount) average,SUM(d.work_amount) work,
        d.department department,s.person_name name from uh08_on_duty d LEFT JOIN person_base s ON d.staff_no=s.person_no
        <where>
            <if test="day != null">
                day(d.work_date) = #{day}
            </if>
            <if test="month != null">
                and month(d.work_date) = #{month}
            </if>
            <if test="year != null">
                and YEAR(d.work_date) = #{year}
            </if>
        </where>
        GROUP BY d.staff_no;
    </select>
    <select id="selectDepartment" resultType="com.zhongshan.entity.vo.MonthVo">
        select SUM(d.ex_work_amount) ex,SUM(d.aver_work_amount) average,SUM(d.work_amount) work,
        d.department department,s.name from uh08_on_duty d LEFT JOIN uh05_staff s ON d.staff_no=s.staff_no
        <where>
            <if test="day != null">
                day(d.work_date) = #{day}
            </if>
            <if test="month != null">
                and month(d.work_date) = #{month}
            </if>
            <if test="year != null">
                and YEAR(d.work_date) = #{year}
            </if>
            <if test="branchOfWork != null">
                and d.branch_of_work = #{branchOfWork}
            </if>
            <if test="department != null">
                and d.department = #{department}
            </if>

        </where>
        GROUP BY d.staff_no;
    </select>
</mapper>
